<iframe
  class="speakerdeck-iframe"
  frameborder="0"
  src="https://speakerdeck.com/player/{{ index .Params 0 }}"
  title="cookpad_summer_intern_2022"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
  style="
    border: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0px auto;
    padding: 0px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
    width: 560px;
    height: 314px;
  "
  data-ratio="1.78343949044586"
></iframe>
